@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Noto Serif TC', serif;
}

html,body{
    background-color: #F2F2F2;
}

h4{
    font-size: 18px;
    font-weight: bolder;
    margin: 20px 0;
}

img{
    width: 100%;
}

input{
    background-color: #e9ecef !important;
}